@import '../../scss/index.scss';

.footer {
    padding-top: 2.448vw;  
    padding-bottom: 0.833vw;
    
    &__container {
        @include container;
        display: flex;
        justify-content: center;
    }
    &__contacts-wrapper {
        text-align: right;
        margin-right: 2.656vw;
    }
    &__contacts-title {
        font-family: 'Roboto Flex', sans-serif;
        font-weight: 700;
        font-size: 1.563vw; 
        color: $dark-blue-color;
        text-transform: capitalize;
    }
    &__contacts-item {
        margin-top: 1.667vw;
    }
    &__contacts-txt {
        @include text;
        font-weight: 700;      
    }
    &__contacts {
        @include text;
        margin-top: 0.4vw;
    } 
    &__vertical-line {
        width: 0.052vw;
        height: 17.5vw;
        background: $gray-color;
    }
    &__summary {
        margin-left: 2.135vw;
        margin-right: 2.188vw;
    }
    &__logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        height: 2.798vw; 
        margin-right: 0.428vw;
    }
    &__logo-text {
        @include title;
        font-weight: 700;
        font-size: 1.979vw; 
    }
    &__summary-text {
        @include text;
        width: 28.281vw;
        text-align: center;
        margin-top: 1.198vw;
        margin-bottom: 2.552vw;
    }
    &__social-media {
        text-align: center;
    }
    &__social-media-item {
        width: 3.125vw;
        height: 3.125vw;
        margin-left: 0.391vw;
        margin-right: 0.391vw;
    }
    &__pages {
        margin-left: 2.604vw;
    }
    &__pages-item {
        @include text;
        margin-top: 1.25vw;
    }
    &__pages-title {
        font-family: 'Roboto Flex', sans-serif;
        font-weight: 700;
        font-size: 1.563vw;
        color: $dark-blue-color;
        text-transform: capitalize;
    }
    &__pages-link {
        color: $dark-gray-color;
    }
    &__horizontal-line {
        width: 100%;
        height: 0.052vw;
        background: $gray-color;
        margin-top: 5.313vw;
        margin-bottom: 0.885vw;
    }
    &__rights {
        @include text;
        text-align: center;
    }
    &__rights_bold {
        font-weight: 700;
    }
}