@import '../../scss/index.scss';

.about {
    background-image: url(../../img/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 55.573vw; 

    &__container {
        @include container;
        height: 100%;
        display: flex;
        align-items: center;  
        justify-content: flex-end;
    }
    &__info {
        width: 36.563vw; 
    }
    &__subtitle {
        @include subtitle;
        margin-bottom: 0.417vw;
    }
    &__title {
        @include title;
        margin-bottom: 0.729vw;
    }
    &__text {
        @include text;
        margin-bottom: 2.396vw;
    }
    &__card {
        display: flex;
        margin-bottom: 1.563vw;

        &-image {
            width: 5.26vw;
            border-radius: 1.042vw;
            margin-right: 0.99vw;
        }
        &-title {
            @include title;
            font-size: 1.302vw;
            margin-bottom: 0.365vw;
        }
        &-text {
            @include text;
            width: 23.125vw;
        }
    }
    &__btn {
        margin-top: 2.396vw;
    }
}